@font-face {
    font-family: "Main";
    src: url("./MainFont.ttf") format("woff");
}

@font-face {
    font-family: "Main_bold";
    src: url("./MainFont_Bold.ttf") format("woff");
}   

@font-face {
    font-family: "title_ubontu";
    src: url("./Ubuntu-Bold.ttf") format("woff");
}   


@font-face {
    font-family: "ubontu";
    src: url("./Ubuntu-Regular.ttf") format("woff");
}   